* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button{
    margin-right: 15px ;
    border-color: #b0b0b0;
    color: black;
  }

  .container-fluid{
    background-color:#ede7ff ;
    height: 80px;
  }

  .navbar-brand{
    height: 100%;
    width: auto;
  }
  #navbarTogglerDemo03{
    background-color: #ede7ff;
  }
  .d-flex{
    margin-bottom: 5px;
  }
  
.login{
margin-right: 10px;
text-decoration: none; 
color: black

}

.navbar-text{
  margin-right: 10px;
}


