* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button{
    margin-right: 15px ;
  }

  .container-fluid{
    display: flex;
    align-items: center;
    background-color:#f1eefb ;
    height: 60px;
  }
  .navbar-brand{
    margin-top: 10px;
    width: 90px;
    height: auto;
  }

 