<body>
  <div class="container">
    <div class="text-content">
      <h1>Welcome to Sunrise Medical Center</h1>
      <p>Your one-stop shop for specialist healthcare services.</p>
      <ul class="services">
        <li>
          <img src="assets/images/doctor.png" alt="General Practitioner" />
          General Practitioner
        </li>
        <li>
          <img src="assets/images/dentist.png" alt="Dentist" />Dentist
        </li>
        <li>
          <img src="assets/images/dermatologist.png" alt="Dermatologist" /> Dermatologist
        </li>
        <li>
          <img src="assets/images/nutritionist.png" alt="Nutritionist" />
          Nutritionist
        </li>
      </ul>
    </div>
  </div>
</body>
